<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Salário Líquido</title>
</head>
<body>
    <h1>Calculadora de Salário Líquido</h1>

    <form action="/resultado" method="post">
        <label>Salário Bruto:</label>
        <input type="text" name="salario">

        <br><br>

        <label>Número de Dependentes:</label>
        <input type="number" name="dependentes">

        <br><br>

        <input type="submit" value="Calcular">
    </form>
</body>
</html>
